#results-sidebar {
    font: {
        size: 1.0rem;
    };
    display:flex;
    flex-direction: column; 
    flex-basis: 300px; 
    
    .property {

        
    }
    .property-name {
        flex-basis: auto;
    }
    .property-price {
        
    }
    .property-address {
        
    }
}