#property-detail {
    width: 900px;
    display:flex;
    flex-direction: column;
    padding:20px 0 0 50px;

    .property-detail-name {
        font: {
            size: 4.0rem;
            weight: bold;
        };
        
        color: brown;
    }
    
    .property-detail-address {
        font: {
            size: 2.0rem;
            weight:bold;
            family: 'Lato'
        };
    }
    
    .property-detail-meta-summary {
        font: {
            size: 1.3rem;
            weight:bold;
            family: 'Lato'
        };
    }
    
    .property-detail-summary {
        margin-top:15px; 
    }
    
    .property-detail-gallery {
        display: flex;
        
        .col {
            flex-basis: 33%;    
        
            .image {
                flex-direction:row;
            }
            
        }
    }
    
}