.header-wrapper {
    display: flex;
    justify-content: space-between;
    
    position:relative;

    height: 50px;
    background: #1E213F;
    z-index:3;
    font-family: 'Lato';
    
    .logo-image {
        min-width: 300px;
        padding: 0 20px;
        color: grey;
        line-height:50px;
    }

    .phone {
        color:white;
        line-height:50px;
        font {
            size: 1.5rem;
        }
        padding:0 20px;
    }
}
